@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website takes your privacy seriously. We will collect and use any personal information provided to us only for the purpose of improving our service to you, and will not share or sell your information to any third parties.
</p>

<p>
    We may collect non-personal information, such as your browser type, IP address, and pages visited, in order to analyze trends and improve our website. This information will not be used to identify individual users.
</p>


